html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-form{
    width: 220px;
    height: 250px;
    border: 2px solid black;
    padding: 19px;
    margin: 28px;
}

.input-form input{
    padding: 3px;
    margin: 4px;
}

.input-form button{
    padding: 3px;
    margin: 4px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    width:180px;
    
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  
  .social {
    display: flex;
    justify-content: space-between;
  }
  
  .social-link {
    
    font-size: 1rem;
    color: #333333;
    text-decoration: none;
    background-color: rgb(56, 56, 235);
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    width: 60px;
    padding: 0 3px;
    
  }